body {
  margin: 61.8px auto;
  width: 61.8%;
  font-size: 12pt;
  line-height: 1.75em;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    font-family: Georgia, serif;
}

h4 {
 line-height: normal; 
}

p {
    font-size: 12pt;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
    text-justify: auto;
}
/* unvisited link */
a:link {
  color: green;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: darkred;
}

/* mouse over link */
a:hover {
  color: darkblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

#navbar {
  /*background-color: #333;*/
  background-color: #0073e6;
  border-radius: 5px;
  position: fixed;
  top: 0;
  width: 61.8%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #99ccff;
  color: black;
}

.nav-right {
  float: right;
}

span{
}

.one {
    float: left;
    text-align: left;
}
.two {
    float: right;
    text-align: right;
}

ol li{
  background-color: #80dfff;
  border-radius: 1px;
}


